<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Hoja de vida</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
    <main class="main">
        <section class="sheet">
            <div class="firts">
                <figure class="img">
                    <img src="../assets/img/Captura.PNG" alt="">
                </figure>
                <h1>Moises David Llanos Hoyos</h1>
                <hr>
                <div class="contacto">
                    <h2>contacto</h2>
                    <p>1009736926</p>
                    <p>email: moisesllanos@hotmail.com</p>
                    <p>Pais: Colombia</p>
                    <p>Ciudad: Barranquilla</p>
                </div>
                <div class="perfil">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing 
                    elit. Nulla totam inventore facere ipsam numquam enim 
                    cum tempora amet! Enim dolorum eius earum quidem harum
                    suscipit minima modi dicta autem veniam.</p>
                </div>
            </div>
        </section>
        <section class="perfil_profesional">
                <h3>Experiencia Laboral</h3>
                <div>
                    <h3>Nombre de la empresa</h3>
                    <small>Puesto o cargo</small>
                    <small>Tareas</small>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere doloribus, exercitationem veniam voluptatem, dolor nihil nesciunt inventore dolore dignissimos aut deserunt ut totam laudantium consequatur ducimus mollitia, accusantium neque ipsum?</p>
                </div>
        </section>
    </main>
</body>
</html>